*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #3e276a;
}

.form-login {
    display: flex;
    max-width: 50vw;
    height: 50vh;
    
}

.container-inputs-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 100%;
    background-color: white;
}

.input-login-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.input-login-item label {
    font-size: 18px;
    font-weight: bold;
    color: #3e276a;
    margin-bottom: 10px;
}

.input-login-item input {
    max-width: 95%;
    width: 300px;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid #bfa160;
    margin-bottom: 10px;
}

.container-img-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(http://www.mesquita.rj.gov.br/pmm/wp-content/uploads/2019/03/cidade-de-mesquita-foto-drone-2018-fundo-roxo.jpg);
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-img-login img {
    width: 80%;
}

.esqueceu-login {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: -20px 15px 15px 0;
}

.button-login-item {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

.button-login-item a{
    color: #3e276a;
    width: 100px;
    border: 2px solid #bfa160;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

.button-login-item [type="submit"] {
    color: #3e276a;
    border: 2px solid #bfa160;
    width: 100px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
    padding: 5px;
}

.button-login-item a:hover {
    background-color: #3e276a;
    color: white;
}

.button-login-item [type="submit"]:hover {
    background-color: #3e276a;
    color: white;
}


/* ************ ÁREA INDEX ******************** */

.container-index {
    display: flex;
    justify-content: center;
}

/* ************* ÁREA CADASTRAR **************** */

.form-cadastrar {
    width: 50vw;
    background-color: white;
}

.container-cadastrar-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
}

.container-cadastrar-item input {
    width: 70%;
    padding: 5px;
}

.container-cadastrar-item label {
    margin-bottom: 10px;
}

.container-cadastrar-item [type="submit"] {
    cursor: pointer;
    color: white;
    background-color: #3e276a ;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

/* ****************** Esqueci a senha ******************/

.esqueci-form {
    width: 50vw;
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.esqueci-container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.esqueci-container-item label {
    color: #3e276a;
    font-weight: bold;
}

.esqueci-container-item input{
    width: 70%;
    margin: 10px 0 10px 0;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #3e276a;
}

.esqueci-form [type="submit"] {
    width: 30%;
    background-color: #3e276a;
    color: white;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    outline: none;
    border:none;
    cursor: pointer;
}

/* **************** Redefinir Senha ***************/


.redefinir-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 25vh;
    background-color: white;
}

.redefinir-container-item {
    text-align: center;
    margin-bottom: 15px;
    width: 50vw;
}

.redefinir-container-item label {
    color: #3e276a;
    font-weight: bold;
    font-size: 16px;
}

.redefinir-container-item  [type="password"]{
    margin: 10px 0 10px 0;
    width: 70%;
    padding: 5px;
    border: 2px solid #3e276a;
    border-radius: 5px;
}

.redefinir-container-item  [type="submit"] {
    width: 30%;
    background-color: #3e276a;
    color: white;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    outline: none;
    border:none;
    cursor: pointer;
    border-radius: 5px;
}

.navbar-toggler-icon {

    background-color:#ffffff;

}